<div class="container d-flex justify-content-center w-50 mt-5">
  <div class="card">
    <div class="card-body">
      <div class="card-title">
        <h5>{{ this.titulo }}</h5>
      </div>
      <div class="card-text">
        <p>¿Desea borrar el Gestor?</p>
      </div>
      <div class="m-2 text-danger">{{this.error}}</div>
      <div class="d-flex justify-content-end card-footer">
        <button type="button" class="btn btn-sm btn-outline-success" (click)="salir()">Salir</button>
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="borrar(this.id)">Borrar</button>
      </div>
    </div>
  </div>
</div>

