<main class="container border mt-2">
  <h2 class="text-center mt-2">{{titulo}}</h2>
  <form [formGroup]="formAltaEmp">

    <div class="row mb-3 mt-3 form-group">
      <!-- Nombre -->
      <label class="col-1 col-form-label" for="nombre">Nombre<span class="importante">*</span></label>
      <div class="col-4">
        <input type="text" id="nombre" class="form-control" formControlName="nombre" placeholder="Nombre"/>
        <div [hidden]="nombre.valid || nombre.pristine">
          <span *ngIf="nombre.errors?.['required']">El nombre es obligatorio</span>
        </div>
      </div>
      <!-- NIF -->
        <label class="col-1 col-form-label" for="nif">NIF<span class="importante">*</span></label>
        <div class="col-4">
          <input type="text" id="nif" class="form-control" formControlName="nif" placeholder="NIF"/>
          <span [hidden]="nif.valid || nif.pristine">
            <span *ngIf="nif.errors?.['required']">El nif es obligatorio</span>
          </span>
        </div>
    </div>

    <div class="row mb-3 mt-3 form-group">
      <!--Calle-->
      <label class="col-1 col-form-label" for="calle">Calle<span class="importante">*</span></label>
      <div class="col-3">
        <input type="text" id="calle" class="form-control" formControlName="calle" placeholder="Calle"/>
          <div [hidden]="calle.valid || calle.pristine">
            <span *ngIf="calle.errors?.['required']">La calle es obligatoria</span>
          </div>
      </div>
      <!-- Número -->
      <label class="col-1 col-form-label" for="numero">número</label>
      <div class="col-1">
        <input type="text" id="numero" class="form-control" formControlName="numero" placeholder="Número"/>
      </div>
      <!-- Km -->
      <label class="col-1 col-form-label" for="km">km</label>
      <div class="col-1">
        <input type="text" id="km" class="form-control" formControlName="km" placeholder="km"/>
      </div>
    </div>

    <div class="row mb-3 mt-3 form-group">
      <!-- Bloque -->
      <label class="col-1 col-form-label" for="bloque">bloque</label>
      <div class="col-1">
        <input type="text" id="bloque" class="form-control" formControlName="bloque" placeholder="Bloque"/>
      </div>

      <!-- Piso -->
      <label class="col-1 col-form-label" for="piso">piso</label>
      <div class="col-1">
        <input type="text" id="piso" class="form-control" formControlName="piso" placeholder="Piso"/>
      </div>

      <!-- Letra -->
      <label class="col-1 col-form-label" for="letra">letra</label>
      <div class="col-1">
        <input type="text" id="letra" class="form-control" formControlName="letra" placeholder="Letra"/>
      </div>
    </div>

    <div class="row mb-3 mt-3 form-group">
      <!-- Código postal -->
      <label class="col-1 col-form-label" for="cp">Código Postal<span class="importante">*</span></label>
      <div class="col-2">
        <input type="text" id="cp" class="form-control" formControlName="cp" (focus)="entraCp()"
        (blur)="buscarCp($event)" placeholder="Código Postal"/>
        <span [hidden]="cp.valid || cp.pristine">
          <span *ngIf="cp.errors?.['required']">El Código postal es obligatorio</span>
        </span>
      </div>
      <!--Ciudad-->
      <label class="col-1 col-form-label" for="ciudad">Ciudad<span class="importante">*</span></label>
      <div class="col-2">
        <input type="text" id="ciudad" class="form-control" formControlName="ciudad" (focus)="entraCiudad()"
        (blur)="buscarCiudad($event)" placeholder="Ciudad"/>
        <span [hidden]="ciudad.valid || ciudad.pristine">
          <span *ngIf="ciudad.errors?.['required']">La ciudad es obligatoria</span>
        </span>
      </div>
      <!-- Provincia -->
      <label class="col-1 col-form-label" for="provincia">Provincia<span class="importante">*</span></label>
        <div class="col-2">
          <input type="text" id="provincia" class="form-control" formControlName="provincia" (focus)="entraProvincia()"
          (blur)="buscarProvincia($event)" placeholder="Provincia"/>
          <span [hidden]="provincia.valid || provincia.pristine">
            <span *ngIf="provincia.errors?.['required']">La provincia obligatoria</span>
          </span>
        </div>
      <!-- País -->
      <label class="col-1 col-form-label" for="pais">País<span class="importante">*</span></label>
        <div class="col-2">
          <input type="text" id="pais" class="form-control" formControlName="pais" (focus)="entraPais()"
          (blur)="buscarPais($event)" value="España"/>
          <span [hidden]="pais.valid || pais.pristine">
            <span *ngIf="pais.errors?.['required']">El País es obligatorio</span>
          </span>
        </div>
    </div>

    <div class="row">
      <div class="col-6">Los campos marcados con&nbsp;<span class="importante">*</span>&nbsp;son obligatorios</div>
    </div>

    <div class="row justify-content-center mb-2">
      <div class="col-2 ml-2">
      <!-- Botón guardar-->
        <button type="button" class="btn btn-outline-success" (click)="guardar()" [disabled]="formAltaEmp.invalid">
          Guardar</button>
      </div>
      <div class="col-2 ml-2">
        <!-- Botón cancelar -->
        <button type="button" class="btn btn-outline-warning" (click)="cerrar()">Cerrar</button>
      </div>
    </div>
  </form>
</main>

